In [1]:
import numpy as np
import pandas as pd

In [ ]:

serie1 = pd.Series([12,34,np.nan,56,np.nan,67,89,34,90,np.nan,32,np.nan,1,10,35,np.nan,np.nan])
serie1.isnull().sum()

6

In [22]:
arreglo = np.random.randint(12,67,15)
nulo = np.array(np.nan)


serie2 = pd.Series(arreglo)
serie2[serie2 > 50] =  nulo
serie2

serie2.fillna(serie2.median())

/tmp/ipykernel_1107/1474138561.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  serie2[serie2 > 50] =  nulo

0     34.0
1     17.0
2     21.0
3     32.0
4     44.0
5     12.0
6     17.0
7     21.0
8     17.0
9     28.0
10    21.0
11    21.0
12    21.0
13    30.0
14    21.0
dtype: float64

In [24]:
serie3 = pd.Series([90,67,23,78,89,12,45,67,23,np.nan,89,54,21,1,7,33,88,9])
serie3

serie3.dropna()

0     90.0
1     67.0
2     23.0
3     78.0
4     89.0
5     12.0
6     45.0
7     67.0
8     23.0
10    89.0
11    54.0
12    21.0
13     1.0
14     7.0
15    33.0
16    88.0
17     9.0
dtype: float64

In [32]:
alatorios = np.random.randint(23,77,20)
nulos = np.array(np.nan)

serie4 = pd.Series(alatorios)
serie4[serie4 >= 55] = nulos
serie4.fillna(23)

/tmp/ipykernel_1107/3427074619.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  serie4[serie4 >= 55] = nulos

0     23.0
1     23.0
2     23.0
3     44.0
4     54.0
5     23.0
6     23.0
7     39.0
8     23.0
9     54.0
10    23.0
11    38.0
12    53.0
13    31.0
14    41.0
15    32.0
16    23.0
17    48.0
18    23.0
19    23.0
dtype: float64