In [15]:
import pandas as pd
import numpy as np

In [31]:
rango = list(range(10,50))
rango
#multiplo5 = [i for i in rango if i % 5 == 0]
#multiplo5

serie1 = pd.Series([i for i in rango if i % 5 == 0])
serie1

0    10
1    15
2    20
3    25
4    30
5    35
6    40
7    45
dtype: int64

In [14]:
nombres = ['Ana','Luis','Martha','Pedro']

serie2 = pd.Series(nombres)
serie2
serie2[0:3]

0       Ana
1      Luis
2    Martha
dtype: object

In [23]:
arreglo = np.random.randint(1,100,20)
arreglo

elementos = pd.Series(arreglo)
suma =  elementos.sum()
media = elementos.median()
maximo = elementos.max()

valores = [suma,media,maximo]
resupesta = pd.Series(valores , index= ['Suma','Media','num_Maximo'])
resupesta

Suma          1000.0
Media           44.5
num_Maximo      96.0
dtype: float64

In [30]:
valores = np.random.randint(1,50,15)
valores
series3 = pd.Series(valores)
series3 

series3 [series3 > 30] = 30
series3

0      8
1     11
2     30
3     30
4     30
5      5
6     30
7     23
8     30
9     24
10    16
11    13
12     6
13     2
14    17
dtype: int64